.container{
    max-width: 984px;
    padding: 32px;
}
.w-60{
    width: 60%;
}
.mb6{
    margin-bottom: 6px;
}
.mb21{
    margin-bottom: 21px;
}
.mb32{
    margin-bottom: 32px;
}
.ml32{
    margin-left: 32px;
}
.pl32{
    padding-left: 32px;
}
.p32{
    padding: 32px;
}
.px32{
padding-left: 32px;
padding-right: 32px;
}
.gray-600{
    color: $gray-600;
}
.gray-400{
    color: $gray-400;
}
.bg-gray100{
    background-color: $gray-100;
}
.border-gray400{
    border: 1px solid $gray-400;
}

.fz12{
    font-size: 12px;
}

.fz14{
    font-size: 14px;
}

.border-bottom-g400{
    border-bottom: 1px solid $gray-400;
}


.container{
    margin-left: 296px;
}

.user-img{
    width: 40px;
    height: 40px;
}

// icons-fill
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.star-icon{
    font-variation-settings:
    'FILL' 0
}